h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: blue;
    background-color: brown;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}
body{
    background-color: black;
}